.bg-container {
  background-color: #223a5f;
  background-size: cover;
  min-height: 100vh;
  padding: 9px;
  display: flex;
  flex-direction: column;
}
.card-container {
  background-color: transparent;
  border: solid #ffffff 2px;
  width: 70%;
  align-self: center;
  margin-top: 55px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.game-name {
  font-family: 'Bree Serif';
  margin-left: 25px;
  font-size: 17px;
  font-weight: 500;
}
.score-container {
  background-color: #ffffff;
  color: #223a5f;
  margin-right: 45px;
  margin: 9px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.score-heading {
  font-family: 'Bree Serif';
  font-size: 21px;
}
.image {
  width: 10%;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  background-color: #ffffff;
  height: 32px;
  width: 69px;
  font-family: 'Bree Serif';
  border-width: 0px;
  border-radius: 5px;
  color: #223a5f;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.game-button {
  background-color: transparent;
  border-width: 0px;
}
